.container {
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  background-color: #c7c8c7;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.navItem:hover {
  color: #005bb5;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #005bb5;
}

.main {
  padding-top: 80px;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullHeight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.description {
  font-size: 1.25rem;
  color: #666;
}

.getStartedButton {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  width: 150px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.getStartedButton:hover {
  background-color: #005bb5;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.reviews, .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewContainer, .teamContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.reviewCard, .teamCard {
  background-color: #e4e4e4;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: calc(33% - 2rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviewImage, .teamImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1rem;
}

.reviewContent, .teamContent {
  flex: 1;
}

.stars {
  color: #ff9900;
  font-size: 1rem;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  margin-top: 2rem;
}
